<h1>Failure Creating Book!</h1>
<p>Things to check:</p>
<ul>
  <li>Make sure that you supplied a Title for the book</li>
  <li>Make sure that you either chose an author or supplied a name to create a new one.</li>
  <li>Make sure that you either chose an genre or supplied a name to create a new one.</li>
  <li>Make sure that a book of the same title does not already exist.</li>
</ul>

<br>

<p><a href="/books/new">Try Again</a></p>