<h1>Home Page</h1>

<% if !logged_in? %>
  <p><a href="/login">Login</a></p>
  <p><a href="/signup">Sign Up</a></p>
<% else %>
  <p>View <a href="/books">Books</a></p>
  <p>View <a href="/authors">Authors</a></p>
  <p>View <a href="/genres">Genres</a></p>
  <p>View <a href="/users/<%= current_user.id %>">My Books</a></p>
  <p>Create a <a href="/books/new">New Book</a></p>
<% end %>