<!DOCTYPE html>
<html>
  <head>
    <style>
      #footer {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: 2.5rem;            /* Footer height */
      }
    </style>
    <title>Book CMS</title>
  </head>

  <body>

    <%= yield %>

    <footer id="footer">
      <a href="/">Home</a>&nbsp &nbsp
      <a href="/logout">Logout</a>
    </footer>
  </body>

</html>